*{  
	margin: 0;
	padding: 0;
	font-family: arial narrow;
}

body {
	background-image: url("../imagens/bg1.png");
}

div#corpo{
	max-width: 900px;
	margin: 0 auto;
}

header a {
	/*position: relative;
	top: -35px;*/
	font-family: Broadway;
	font-size: 50px;
	text-decoration: none; 
	color: white;
	}
header a:hover {
	color: #C1CDC1;	
}

header {
	border-bottom: 5px solid #1c344c;
	padding: 20px;
	margin: 20px 0 ;
}

nav { 
	background-color: black;
	padding: 7px;
	min-height: 70px; 
	border-radius: 10px;
	}

nav ul li a:hover {
	background-color: gray;
}

nav ul li a {
	display: block;
	/*background-color: #91c46c;*/
	color: white;
	padding: 20px;
	float: left;
	border-radius: 5px;
	width: 22%;
	margin-right: 4%;
	/*margin-bottom: 20px;*/
}

nav li:last-child a { margin: 0; } 

nav ul li{
	text-align: center;
	display: inline;
	list-style-type: none;
	text-decoration: none;
}

article{
	/*margin: 20px 0;*/
	padding: 20px;
	background-color: white;
	min-height: 800px;
	clear: both;
	border-radius: 10px;
}

#div1 h2 { float: left;}
#div1 p { float: right; color: gray;}

#gameplay { float: left; 
	border-right: 1px solid black; 
	padding-right: 5px;
}


#desenv { float: right; 
	text-align: right;
}
#desenv img {
	width: 400px;
	height: 300px;
}

footer{
	text-align: center;
	background-color: #00688B;
	width: auto;
	padding: 20px;
	max-height: 500px;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}